<p id="notice"><%= notice %></p>


<div class="grid">
  <h1>Pins</h1>

<% @pins.each do |pin| %>
<div class="grid-item" style="...">
  <div class="thumbnail">

    <%= pin.name%>
<%= image_tag(pin.photo, :class=>'img-responsive') %>
<%= pin.description %>
<div class="buttons" style="margin-top:10px; margin-bottom:10px">

  <% if current_user.nil? %>
      <%= link_to 'Show', (pin), :class =>'btn' %>
      <% else %>
      <%= link_to 'Show', (pin), :class =>'btn' %>
      <% end %>
</div>
</div>
</div>

    <% end %>

<br>
<% if user_signed_in? %>
<%= link_to 'New Pin', new_pin_path, :class =>'btn' %>
<% end %>


</div>
<script type="text/javascript">
    var elem = document.querySelector('.grid');
    var msnry = new Masonry(elem,{
        itemSelector: '.grid-item',
        columnWidth: 200
    });
  $(window).load(function(){
      var elem = document.querySelector ('.grid');
      var msnry = new Masonry(elem,{
          itemSelector: '.grid-item',
          columnWidth: 200
      });
  })

</script>